

<div style="padding-bottom: 20px; display: flex; flex-direction: column; width: auto;" [formGroup]="formFromClass">
  <strong>{{label}}</strong>

  <div style="display: flex; flex-direction: row;" [id]="id">
    <div style="padding-right: 10px;">
      <label *ngIf="language == 'English'">Yes</label>
      <label *ngIf="language == 'Afrikaans'">Ja</label>
      <input [formControlName]="id" type="radio"  id="Y" value="Y" checked>
    </div>

    <div>
      <label *ngIf="language == 'English'">No</label>
      <label *ngIf="language == 'Afrikaans'">Nee</label>
      <input [formControlName]="id" type="radio" id="N" value="N">
    </div>
  </div>

</div>
