<!-- <p>{{labelTimeString}}</p> -->
<div style="padding-bottom: 30px; display: flex; flex-direction: column; width: auto;" [formGroup]="formFromClass">
  <label>{{label}}</label>
  <input [formControlName]="id" [value]="value" [id]="id" style="padding: 5px;" type="time" />
</div>
