
<div style="padding-bottom: 30px; display: flex; flex-direction: column; width: auto;" [formGroup]="formFromClass">
  <label>{{label}}</label>
  <input [formControlName]="id" [value]="value" [id]="id" type="date" style="padding: 5px;"/>
</div>

