<div style="padding-bottom: 30px; display: flex; flex-direction: column; width: auto;" [formGroup]="formFromClass">
  <label>{{label}}</label>
  <select [formControlName]="id" [id]="id" style="padding: 5px;">
    <option value="" id="selectYesOrNo" selected><i style="color: lightgray;">--Choose an option please--</i></option>
    <option *ngIf="language == 'Afrikaans'" id="ja" value="Y">Ja</option>
    <option *ngIf="language == 'Afrikaans'" id="nee" value="N">Nee</option>
    <option *ngIf="language == 'English'" id="yes" value="Y">Yes</option>
    <option *ngIf="language == 'English'" id="no" value="N">No</option>
  </select>
</div>
