<div>
  <h1>Hallo world</h1>

  <select id="languageselect">
    <option value="Afrikaans">Afrikaans</option>
    <option value="English">English</option>
  </select>
  <button (click)="generateFormFromJson()">Click me for json</button>

  <form [formGroup]="newBlankForm">
    <ng-container #container></ng-container>
  </form>

  <p style="width: 100%; word-break: break-word;">{{ payload }}</p>

  <div style="padding-top: 30px;">
    <button type="button" (click)="clickFunction()">Submit</button>
  </div>

</div>
