<div style="padding-bottom: 30px; display: flex; flex-direction: column; width: auto;" [formGroup]="formFromClass">
  <label for="lumEmail">{{label}}</label>
  <input [formControlName]="id" [id]="id" [value]="value" [placeholder]="placeHolder" type="email" style="padding: 5px; height: auto;"/>
</div>
