<div style="padding-bottom: 30px; display: flex; flex-direction: column; width: auto;" [formGroup]="formFromClass">
  <label>{{label}}</label>
  <select [formControlName]="id" [value]="value" [id]="id" style="padding: 5px;">
    <option value="" disabled selected ><i style="color: lightgray;">--Choose an option please--</i></option>
    <option *ngFor="let item of selectOptionsArray" [value]="item.pid" [id]="item.pid">{{item.value}}</option>
  </select>
</div>
