<div style="padding-bottom: 30px; display: flex; flex-direction: column; width: auto;" [formGroup]="formFromClass">
  <label>{{label}}</label>
  <input [formControlName]="id" [id]="id" [placeholder]="placeHolder" style="padding: 5px;" type="text"/>
</div>

