<div style="padding-bottom: 30px; display: flex; flex-direction: column; width: auto;" [formGroup]="formFromClass">
  <label for="lumtextArea">{{label}}</label>
  <textarea [formControlName]="id" [value]="value" [id]="id" [placeholder]="placeHolder" style="padding: 5px; height: auto;"></textarea>
</div>
